body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.buttons {
	font-family: 'Open Sans', sans-serif;
	color: #FFAA48;
	font-size: 24px;
}

.firstRow * {
	width: 20.7px;
}

.fifthRow * {
	width: 20.7px;
}

.display {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	border: 3px solid;
}

.container {
}
